.header--bar {
  position: relative;
  padding: 35px 20px 20px;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: #b2e1d8;
  border-bottom: 3px solid #06262d;
}

.header--bar h1 {
  margin: 0;
}

.header--bar small {
  font-size: 16px;
}

.reset-button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid red;
  background: papayawhip;
  text-transform: uppercase;
  cursor: pointer;
}